*{
    margin:0px;
    padding: 0px;
    font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Helvetica, Arial, sans-serif;
    font-size: 16px;
}

* html body{
    overflow:hidden;
    padding: 0px;
    margin: 0px;
}

body{
    background: #EBEBEB;
}

#header{
    position:fixed;
    top:0;
    left:0;
    width:1086px;
    height:40px;
    background:#222;
}

#sidebar{
    position:fixed;
    top:0px;
    right:0;
    width:280px;
    height:100%;
    background: #fff;
}


#content{
    background: #fff;
    width:1000px;
    height: 1000px;
    margin-top:60px;
    padding:10px;
}

/****************************USER CONTROL**********************************/
.user-box{
    float:left;
    text-align: left;
    background: #222;
    height: 40px;
    width:280px;
}
.user-avatar{
    width:30px;
    height: 30px;
    background: url("../ava.jpg");
    background-size: cover;
    border-radius: 50%;
    float:left;
    margin-top:5px;
}
.user-control{
    float:left;
    height: 22px;
    border-radius: 2px;
    margin-left:10px;
    margin-right:7px;
    padding: 4px;
    line-height: 26px;
    color:#eee;
    margin-top:4px;
}
.user-control span{
    font-size: 12px;
}
/*******************************************************************************/